body {
  font-family: "Courier New", Courier, monospace;
  background-color: #ffa07a;
  margin: 0;
  padding: 20px;
  width: 98%;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notes-container{
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-primary {
  background-color: #ff4500;
}

.btn-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

button:hover {
  background-color: #ff7f50;
}

.note {
  background-color: #f9f9f9;
  border-left: 4px solid #007bff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.note strong {
  font-size: 18px;
  color: #222;
}

::placeholder{
  opacity: 0.3 !important;
}
